body{
    background-color: #394D8D;
    color: white;
}

.fixed-top{
    font-family: sans-serif;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    top : 50px;
}

.guessLeft{
    font-family: sans-serif;
    font-size: large;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 380px;
    bottom: 0px;
    right: 50px;
    left: 50px;
}
.correctGuess{
    font-family: sans-serif;
    font-size: large;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 450px;
    bottom: 0px;
    right: 500px;
    left: 0px;
}
.incorrectGuess{
    font-family: sans-serif;
    font-size: large;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 450px;
    bottom: 0px;
    right: 0px;
    left: 500px;
}
.word{
    font-family: sans-serif;
    font-size: large;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 500px;
    bottom: 0px;
    right: 30px;
    left: 20px;
}
.initial{
    position: absolute;
    top: 80px;
    left : 80px;
}
input{
    position: absolute;
    top: 580px;
    bottom: 0px;
    right: 0px;
    left: 390px;
}
.input-group-prepend{
    position: absolute;
    top: 630px;
    bottom: 0px;
    right: 0px;
    left: 440px;
}
#stand1{
    position: absolute;
    top: 80px;
    left : 80px;
}
#stand2{
    position: absolute;
    top: 80px;
    left : 80px;
}
#stand3{
    position: absolute;
    top: 80px;
    left : 80px;
}
#rope4{
    position: absolute;
    top: 80px;
    left : 80px;
}
#head5{
    position: absolute;
    top: 80px;
    left : 80px;
}
#body6{
    position: absolute;
    top: 80px;
    left : 80px;
}
#hand1_7{
    position: absolute;
    top: 80px;
    left : 80px;
}
#hand2_8{
    position: absolute;
    top: 80px;
    left : 80px;
}
#leg1_9{
    position: absolute;
    top: 80px;
    left : 80px;
}
#hangman10{
    position: absolute;
    top: 80px;
    left : 80px;
}
.word{
    font-family: sans-serif;
    font-size: 50px;
}
#buttonInstructions{
    position: absolute;
    left: 300px;
}
#buttonNewGame{
    position: absolute;
    right: 300px;
}
@media screen and (max-width: 767px) and (min-width: 590px){
    #buttonInstructions{
        position: absolute;
        left: 30px;
        top: 15px;
    }
    #buttonNewGame{
        position: absolute;
        right: 30px;
        top: 15px;
    }
    .fixed-top{
        font-size: 30px;
    }
    .guessLeft{
        text-align: center;
        position: absolute;
        top: 320px;
        right: 10px;
    }
    .correctGuess{
        position: absolute;
        top: 380px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    .incorrectGuess{
        position: absolute;
        top: 430px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    .word{
        position: absolute;
        top: 470px;
        bottom: 0px;
        right: 30px;
        left: 20px;
    }
    input{
        position: absolute;
        top: 540px;
        bottom: 0px;
        right: 0px;
        left: 280px;
    }
    .input-group-prepend{
        position: absolute;
        top: 580px;
        bottom: 0px;
        right: 0px;
        left: 320px;
    }

    .initial{
        position: absolute;
        top: 70px;
        left : 270px;
    }
    #stand1{
        position: absolute;
        top: 70px;
        left : 270px;
    }
    #stand2{
        position: absolute;
        top: 70px;
        left : 270px;
    }
    #stand3{
        position: absolute;
        top: 70px;
        left : 270px;
    }
    #rope4{
        position: absolute;
        top: 70px;
        left : 270px;
    }
    #head5{
        position: absolute;
        top: 70px;
        left : 270px;
    }
    #body6{
        position: absolute;
        top: 70px;
        left : 270px;
    }
    #hand1_7{
        position: absolute;
        top: 70px;
        left : 270px;
    }
    #hand2_8{
        position: absolute;
        top: 70px;
        left : 270px;
    }
    #leg1_9{
        position: absolute;
        top: 70px;
        left : 270px;
    }
    #hangman10{
        position: absolute;
        top: 70px;
        left : 270px;
    }
}
@media screen and (max-width: 589px) and (min-width: 300px) {
    #buttonInstructions{
        position: absolute;
        right: 250px;
        top: 15px;
    }
    #buttonNewGame{
        position: absolute;
        left: 190px;
        top: 15px;
    }
    .fixed-top{
        font-size: 30px;
    }
    .guessLeft{
        text-align: center;
        position: absolute;
        top: 340px;
        right: 10px;
    }
    .correctGuess{
        position: absolute;
        top: 380px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    .incorrectGuess{
        position: absolute;
        top: 430px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    .word{
        position: absolute;
        top: 450px;
        bottom: 0px;
        right: 30px;
        left: 20px;
    }
    input{
        position: absolute;
        top: 530px;
        bottom: 0px;
        right: 0px;
        left: 190px;
    }
    .input-group-prepend{
        position: absolute;
        top: 580px;
        bottom: 0px;
        right: 0px;
        left: 250px;
    }
    .initial{
        position: absolute;
        top: 90px;
        left : 200px;
    }
    #stand1{
        position: absolute;
        top: 90px;
        left : 200px;
    }
    #stand2{
        position: absolute;
        top: 90px;
        left : 200px;
    }
    #stand3{
        position: absolute;
        top: 90px;
        left : 200px;
    }
    #rope4{
        position: absolute;
        top: 90px;
        left : 200px;
    }
    #head5{
        position: absolute;
        top: 90px;
        left : 200px;
    }
    #body6{
        position: absolute;
        top: 90px;
        left : 200px;
    }
    #hand1_7{
        position: absolute;
        top: 90px;
        left : 200px;
    }
    #hand2_8{
        position: absolute;
        top: 90px;
        left : 200px;
    }
    #leg1_9{
        position: absolute;
        top: 90px;
        left : 200px;
    }
    #hangman10{
        position: absolute;
        top: 90px;
        left : 200px;
    }

}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
    input{
        position: absolute;
        top: 560px;
        bottom: 0px;
        right: 0px;
        left: 300px;
    }
    .input-group-prepend{
        position: absolute;
        top: 600px;
        bottom: 0px;
        right: 0px;
        left: 370px;
    }
    #buttonInstructions{
        position: absolute;
        left: 10px;
        top: 15px;
    }
    #buttonNewGame{
        position: absolute;
        left: 150px;
        top: 15px;
    }
    .fixed-top{
        font-size: 30px;
    }
}
@media screen and (max-width: 999px) and (min-width: 760px) {
    input {
        position: absolute;
        top: 560px;
        bottom: 0px;
        right: 0px;
        left: 220px;
    }

    .input-group-prepend {
        position: absolute;
        top: 600px;
        bottom: 0px;
        right: 0px;
        left: 280px;
    }

    #buttonInstructions {
        position: absolute;
        left: 0px;
        top: 15px;
    }

    #buttonNewGame {
        position: absolute;
        left: 150px;
        top: 15px;
    }
    .fixed-top{
        font-size: 30px;
    }
}
@media screen and (max-width: 895px) and (min-width: 765px) {
    input {
        position: absolute;
        top: 560px;
        bottom: 0px;
        right: 0px;
        left: 300px;
    }

    .input-group-prepend {
        position: absolute;
        top: 600px;
        bottom: 0px;
        right: 0px;
        left: 280px;
    }

    #buttonInstructions {
        position: absolute;
        left: 0px;
        top: 15px;
    }

    #buttonNewGame {
        position: absolute;
        right: 0px;
        top: 15px;
    }
    .fixed-top{
        font-size: 30px;
    }
}
